// https://paletton.com/#uid=34C0u0kbEoe3+Bq7EsRfukjjVgo

.sinSo-header {
  color: #6F5682;
  text-align: center;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: x-large;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 3px white;
  cursor: default;

  .sinSo-select {
    margin-top: 5px;
    font-size: medium;

    select {
      cursor: pointer;
    }
  }

  .sinSo-audio {
    color: #8B789A;
    cursor: pointer;
  }
  
  .sinSo-audio.muted {
    color: #573C6D;
    text-decoration: line-through;
  }
};

.sinSo-page {
  display: flex;
  flex-direction: row;
};

.sinSo-content {
  color: white;
  text-shadow: 1px 1px 3px black;
  white-space: pre;
  flex-grow: 2;
  margin-top: 30px;
  width: 80%;
  z-index: 1;
};

.sinSo-content-full {
  font-family: 'Lucida Console', 'Courier New', monospace;
  text-wrap: wrap;
};

.sinSo-update {
  flex-grow: 1;
  margin: 0px 50px;

  &:hover,
  &:active,
  &:focus {
    background-color: #667B2F;
    border-radius: 50%;
    cursor: pointer;
  }
};

.sinSo-update.sinSo-disabled {
  opacity: 50%;

  &:hover,
  &:active,
  &:focus {
    background-color: unset !important;
    border-radius: unset !important;
    cursor: default !important;
  }
}

.sinSo-background {
  img {
    opacity: .33;
    z-index: 0;
  }
}

.sinSo-background.left {
  position: fixed;
  bottom: 0;
  left: 0;
}

.sinSo-background.right {
  position: fixed;
  bottom: 0;
  right: 0;
}